* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background: #121212;
    font-family: 'Roboto Mono', monospace; 
}

form {  
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 5%;
}

#m{
    background-color: #8B8B8B;
    width: 89%;
    border: 20px #3D314A;
    margin-right: 1%;
    height: 100%;
}

.buttonSend {
    width: 10%;
    background: #5C3968;
    color: #1EC302;
    border: none;
    height: 100%;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.usernameStyle{
    font-weight: bold; 
    font-size: 1.3em;
}

.messageStyle{
    color: #D6D6D6;
    font-size: 1em;
}